@using WatchWeb.Service.Models.Dto;
@model IEnumerable<RoleSimpleDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Quản lý quyền</h6>
        <a href="role/create" class="btn btn-primary btn-icon-split">
            <span class="text">Tạo mới</span>
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Mã Quyền
                        </th>
                        <th>
                            Tên Quyền
                        </th>
                        <th>
                            Trạng Thái
                        </th>
                        <th>Tương tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                <div style="d-flex">
                                    <button class="btn btn-info launchDetailModal" data-id="@item.Id">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                    <a href="@Url.Action("update","role", new { id = item.Id })" class="btn btn-warning">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="modalContainer"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.launchDetailModal').click(function () {
            var id = $(this).data('id');
            var name = $(this).data('name');

            $.ajax({
                url: '/' + "role" + '/' + "detailmodal",
                type: 'GET',
                data: { id: id, name: name },
                success: function (data) {
                    $('#modalContainer').html(data);
                    $('#myModal').modal('show');
                },
                error: function (xhr, status, error) {
                    console.error("AJAX error:", xhr.status, xhr.statusText);
                    console.error("Error message:", error);
                }
            });
        });
    });


</script>